[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pymongo = "*"
openpyxl = "*"
fastapi = "*"
passlib = "*"
python-jose = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.12"
